:root {
  --primary-color: #01411c;
  --heading-font-family: "Marck Script", cursive;
  --secondary-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--secondary-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  text-align: center;
  color: var(--primary-color);
  font-size: 70px !important;
}

h2 {
  font-family: var(--heading-font-family);
  text-align: center;
  color: var(--primary-color);
  font-size: 30px !important;
}

h3 {
  font-family: var(--heading-font-family);
  text-align: center;
  color: var(--primary-color);
  font-size: 50px !important;
}

p {
  text-align: center !important;
  text-align: justify;
  font-size: 16px;
  margin-right: 5px;
  margin-left: 5px;
  font-family: var(--secondary-font-family);
}

footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}

footer p {
  margin: 0 !important;
}
.GitHub-rep {
  color: var(--primary-color);
  text-decoration: none;
}

.icons {
  color: var(--primary-color);
  margin: 0 10px;
  margin-top: 15px;
}

.icons:hover {
  color: #0d6efd;
  transition: all 150ms ease-in-out;
}

.about h1 {
  font-size: 50px !important;
}

.active {
  font-weight: bolder;
}

.button-explore {
  background-color: var(--primary-color) !important;
  font-size: 18px !important;
  display: block !important;
  margin: 0 auto !important;
}

.carousel-control-next {
  right: 20px !important;
  bottom: 850px !important;
}

.carousel-control-prev {
  left: 20px !important;
  bottom: 850px !important;
}

.my-picture {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  max-width: 80%;
  border: 2px;
  border-color: var(--primary-color);
  border-style: double;
}

.flowers {
  display: block;
  margin: 0 auto;
  width: 30%;
}

.footer {
  font-size: 20px;
  margin: 20px;
  color: var(--primary-color);
  font-family: var(--heading-font-family);
}

.brand {
  margin-left: 10px;
  font-size: 30px !important;
  font-family: var(--heading-font-family) !important;
  color: var(--primary-color) !important;
}
.contact-link {
  color: #000;
  text-decoration: none;
  font-family: (--secondary-font-family);
}

.contact-link:hover {
  color: #000;
}

.icons {
  font-size: 20px;
  color: var(--primary-color);
  text-align: center;
}

.nav-link {
  margin-left: 10px;
}

.pic-description {
  font-family: var(--secondary-font-family);
  text-align: center;
  text-align: justify !important;
  font-size: 16px !important;
  font-weight: normal;
  color: black;
}

.picture {
  border-radius: 20px;
  margin: 0 auto;
  border: 2px;
  border-color: var(--primary-color);
  border-style: double;
  width: 75%;
}

.video-fluid {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  border: 5px;
  border-style: dotted;
  border-color: var(--primary-color);
}

@media (max-width: 539px) {
  h1 {
    font-size: 40px !important;
  }

  h5 {
    font-size: 40px !important;
  }
  .picture {
    width: 100%;
  }

  .brand {
    font-size: 28px !important;
  }
  .flowers {
    width: 85%;
  }

  .carousel-item {
    margin-bottom: 900px;
  }

  .carousel-caption {
    position: relative;
    top: 270px;
  }

  .carousel-control-next {
    right: 20px !important;
    bottom: 850px !important;
  }

  .carousel-control-prev {
    left: 20px !important;
    bottom: 850px !important;
  }
}

@media (min-width: 540px) {
  .carousel-caption {
    position: relative;
    top: 330px;
  }

  .carousel-item {
    margin-bottom: 600px;
  }
}

@media (min-width: 768px) {
  .brand {
    margin-left: 50px;
  }
  .video-fluid {
    width: 70%;
  }
  .who-am-i {
    margin-bottom: 44px;
  }

  .carousel-caption {
    position: relative;
    top: 500px;
  }

  .carousel-item {
    margin-bottom: 600px;
  }
  .carousel-control-next {
    right: 90px !important;
    bottom: 200px !important;
  }

  .carousel-control-prev {
    left: 90px !important;
    bottom: 200px !important;
  }
}

@media (min-width: 1024px) {
  .carousel-caption {
    position: relative;
    top: 650px;
  }
  .carousel-item {
    margin-bottom: 400px;
  }
}
