:root {
  --primary-color: #01411c;
  --heading-font-family: "Marck Script", cursive;
  --secondary-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--secondary-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  text-align: center;
  color: var(--primary-color);
  font-size: 70px !important;
}

h2 {
  font-family: var(--heading-font-family);
  text-align: center;
  color: var(--primary-color);
  font-size: 30px !important;
}

p {
  text-align: center;
  text-align: justify;
  font-size: 16px;
  margin-right: 5px;
  margin-left: 5px;
}

.about h1 {
  font-size: 50px !important;
}

.active {
  font-weight: bolder;
}
.button-explore {
  background-color: var(--primary-color) !important;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

.my-picture {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  max-width: 80%;
  border: 2px;
  border-color: var(--primary-color);
  border-style: double;
}

.flowers {
  display: block;
  margin: 0 auto;
  width: 30%;
}

.brand {
  margin-left: 50px;
  font-size: 30px !important;
  font-family: var(--heading-font-family) !important;
  color: var(--primary-color) !important;
}

.video-fluid {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  border: 5px;
  border-style: dotted;
  border-color: var(--primary-color);
}

@media (max-width: 576px) {
  h1 {
    font-size: 40px !important;
  }

  .flowers {
    width: 85%;
  }
}

@media (min-width: 992px) {
  .video-fluid {
    width: 70%;
  }
  .who-am-i {
    margin-bottom: 44px;
  }
}
